body{
    margin:0;
    height:2000px;
}

#page{
    height: 2000px;
    display: grid;
    grid-template-areas: 
    "header header"
    "nav main"
    "footer footer";
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 80px 1fr 100px;
}

header {
  overflow: hidden;
  padding: 10px;
  height: 49px;
  border-bottom: 8px solid #b50f09;
}

header a {
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 8px;
  margin-right: 10px;
  float: right;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header a:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  color: white;
}

header img {
  height: 49px;
  margin-left: 10px;
}

nav{
    background-color: beige;
    grid-area: nav;
}

main{
    background-color: red;
    grid-area: main;

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

footer{
    background-color: yellow;
    grid-area: footer;
}

.vid{
    margin:5px;
    background-color: white;
    height: 100px;
}