body{
  margin:0;
  height: fit-content;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#page{
  position: absolute;
  top: 69px;
  left: 223.75px;
  height: fit-content;
  width: calc(100% - 223.75px);
  z-index: -1;
}

header {
  position: fixed;
  display: flex;
  overflow: hidden;
  padding: 10px;
  height: 49px;
  width: calc(100% - 17px);
  background-color: lightblue;
  justify-content: space-between;
}

header button.loggaIn {
  color: black;
  background-color: #26CB42;
  border: none;
  text-align: center;
  align-content: center;
  padding: 0 8px;
  margin: 3px 6px;
  line-height: 43px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 4px;
}

header button.loggaIn:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  cursor: pointer;
}

header #searchbar {
  display: flex;
  height: 33px;
  width: fit-content;
  margin: auto 0;
}

header #searchbutton {
  height: inherit;
  background-color: #ddd;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

header #searchbutton:hover {
  background-color: #ccc;
}

header #search {
  width: 300px;
  height: inherit;
  font-size: 16px;
  padding-left: 5px;
  padding-right: 5px;
  border: 0;
}

header img {
  height: 49px;
  width: 180.31px;
  box-sizing: border-box;
  padding: 5px;
}

nav{
  position: fixed;
  top: 69px;
  background-color: rgb(104,104,104);
  grid-area: nav;
  height: calc(100vh - 69px);
  overflow: auto;
}

main{
  margin:5px;
  font-size: small;
  min-height: calc(100vh - 222.33px);
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

footer{
  background-color: lightgray;
  height: fit-content;
  padding: 5px;
}

#footer1 {
  line-height: 24px;
}

#frontad{
  margin: 5px;
  grid-column-start: 1;
  grid-column-end: 5;
}

#frontad a img{
  width: 100%;
  height: auto;
  display: block;
}

.vid{
  display: flex;
  flex-direction: column;
}

.vid:hover{
  background-color: #e7e7e7;
}

.vid a{
  text-decoration: none;
  color: black;
}

.meta{
  align-content: center;
  margin:5px;
}

h2{
  align-self: center;
  margin:0;
  font-size: large;
}

.vid img{
  height: auto;
  width: calc(100% - 10px);
  margin:5px;
}

#videoheader {
  display: flex;
  width: 650px;
}

/* Listan <UL> med knapparna */
ul {
margin: 10px;
padding: 10px;
}

/* Listelementen <LI> med knapparna */
#meny li {
list-style: none;
margin: 25px 0 10px 0;
}

#meny li#extraMargin {
  margin: 25px 0 60px 0;
}

#meny li a {
display: block;
max-width: 150px;
margin: 0;
padding: 5px 20px 5px 20px;
text-align: center;
font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
font-size: 15px;
color: rgba(80,80,80,80);
border-radius: 10px;
border: 1px solid rgba(80,80,80,80);
background: rgb(80,80,80);
box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3), 0 2px 3px rgba(0,0,0,0.70);
}

#meny li a:hover {
cursor: pointer;
background: rgba(178,232,139,1);
color: rgba(0,0,0,1);
}

#meny a:link, #meny a:visited {
color: rgba(255,255,255,1);
text-decoration: none;
}

#meny a:active {
color: rgba(250,191,12,1);
}

#meny a#current:hover {
  cursor: pointer;
  background: rgba(178,232,139,1);
  color: rgba(0,0,0,1);
background: rgba(178,232,139,1);
}

#title {
  margin-left: 20px;
  margin-right: 10px;
}

.modal input[type=text],
.modal input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.modal button {
  background-color: #26CB42;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.modal button:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

.modal .cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto 5% auto;
  border: 1px solid #888;
  width: 80%;
}

.close {
  float: right;
  line-height: 0.5em;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0)
  }

  to {
    -webkit-transform: scale(1)
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
}

.cancelbtn {
  width: 100%;
}
    
@media screen and (max-width: 1100px) {
  main{
    grid-template-columns: 1fr 1fr 1fr;
  }
  #frontad{
    grid-column-end: 4;
  }
}

@media screen and (max-width: 850px) {
  main{
    grid-template-columns: 1fr 1fr;
  }
  #frontad{
    grid-column-end: 3;
  }
}

@media screen and (max-width: 600px) {
  main{
    grid-template-columns: 1fr;
  }
  #frontad{
    grid-column-end: 2;
  }
}